<%- include('partials/header'); -%>
<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Add a Hospital</h4>
                        </div>
                        <form class="user" action="/AddHospital" method="post">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="HName"><strong>Hospital Name</strong></label>
                                            <input class="form-control" type="text" name="HName"></div>
                                    </div>
                                    <div class="col">
                                        <div class="col-md-6 text-nowrap">
                                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>City&nbsp;<select style="width: 200px;" class="form-control form-control-sm custom-select custom-select-sm">
                                                        <option value="10" selected="">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>&nbsp;</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="Location"><strong>Location</strong></label>
                                            <input class="form-control" type="text" id="Location" name="Location"></div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-white btn-user" type="submit">Add Hospital</button>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>