<%- include('partials/header'); -%>
<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;assets/img/dogs/image2.jpeg&quot;);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Add A Manager</h4>
                        </div>
                        <form class="user" action="/register" method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="Name" placeholder="Name" name="Name"></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="DateOfEmployment" placeholder="DateOfEmployment" name="DateOfEmployment"></div>
                            </div>
                            <button class="btn btn-primary btn-block text-white btn-user" type="submit">Add Manager</button>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>