<%- include('partials/header'); -%>
<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Add a Manager</h4>
                        </div>
                        <form class="user" action="/AddManager" method="post">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="Name"><strong>Name</strong></label>
                                            <input class="form-control" type="text" name="Name"></div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><label for="DOE"><strong>Date of Employment</strong></label>
                                            <input class="form-control"  id="DOE" name="DOE"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="HName"><strong>Hospital Name</strong></label>
                                            <input class="form-control" type="text" name="HName"></div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-white btn-user" type="submit">Add Manager</button>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>