<%- include('partials/header'); -%>
<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Add Shift</h4>
                        </div>
                        <form class="user" action="/AddShift" method="post">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="first_name"><strong>Doctor</strong></label>
                                            <input class="form-control" type="text" id="fname" name="Fname"></div>
                                    </div>
                                    <div class="col">
                                        <div class="col-sm-12 mb-12 mb-sm-12"><label>Date</label><input class="form-control" id="dob" type="date" name="DoB"></div>

                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><label for="username"><strong>Start Time</strong></label>
                                            <br>
                                                <input type="number" id="Shour" style="width: 50px" onchange="TimeH2()" min="0" max="23" placeholder="23">
                                                <b>:</b>
                                                <input type="number" id="Smin" style="width: 50px" min="0" max="59" placeholder="00">
                                        </div>
                                    </div>
                                    <div class="col" style="margin-left: 140px">
                                        <div class="form-group"><label for="Govid"><strong>End Time</strong></label>
                                            <br>
                                            <div>
                                                <input type="number" id="Ehour" style="width: 50px" onchange="TimeH()" min="0" max="23" placeholder="23">
                                                <b>:</b>
                                                <input type="number" id="Emin" style="width: 50px" onchange="TimeM()" min="0" max="59" placeholder="00">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-white btn-user" type="submit">Add Shift</button>
                            <hr>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script> function TimeH() {
    var Ehour = document.getElementById("Ehour").value;
    document.getElementById("Shour").setAttribute("max", Ehour)
    }

    function TimeM() {
        var Shour = document.getElementById("Shour").value;
        var Ehour = document.getElementById("Ehour").value;
        var Smin = document.getElementById("Smin").value;
        var Emin = document.getElementById("Emin").value;

        if (Shour == Ehour)
            document.getElementById("Emin").setAttribute("min", Smin)
        else{
            document.getElementById("Ehour").setAttribute("min", Shour)
            document.getElementById("Emin").setAttribute("min", 0)
        }


    }

    function TimeH2() {
        var Shour = document.getElementById("Shour").value;
        document.getElementById("Ehour").setAttribute("min", Shour)
    }

</script>
<%- include('partials/footer'); -%>